@font-face{
    font-family: 'BeaufortLoL';
    src: url('https://content.rgpub.io/live/zenith/fonts/BeaufortforLoL-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Spiegel';
    src: url('https://content.rgpub.io/live/zenith/fonts/Spiegel-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 45px; 
    }

    .buscador h2 {
        font-size: 24px;
        text-align: center;
    }

    .buscador-form .input {
        font-size: 14px;
        height: 40px;
    }
}

header{
    background-color: #1e293b;
    color: white;
    padding: 1rem;
}

main{
    flex: 1;
}

body{
    background-image: url(/Proyecto/imagenes/background_lol.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    background-color: #0f172a;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1{
    font-family: 'BeaufortLoL', 'Cinzel', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 100px;
}

.buscador{
    color: #1e293b;
    text-align: center;
    max-width: 800px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.buscador h2{
    font-size: 35px;
    color: #2f5896;
    -webkit-text-stroke: 1px rgb(250, 253, 86);
    text-align: left;
}

.buscador input{
    margin: 0 auto;
}

.buscador-form {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

.buscador-form .input {
    padding-right: 50px;
    width: 100%;
}

.buscador-form .button {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
}