@font-face{
    font-family: 'BeaufortLoL';
    src: url('https://content.rgpub.io/live/zenith/fonts/BeaufortforLoL-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Spiegel';
    src: url('https://content.rgpub.io/live/zenith/fonts/Spiegel-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url('../imagenes/background3.webp');
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

.box{
    max-width: 400px;
    margin: 10rem auto;
    padding: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e293b;
  padding: 15px 30px;
}

header h1 {
  font-family: 'BeaufortLoL', 'Cinzel', serif;
  color: #fcb674;
  letter-spacing: 1px;
  font-size: 32px;
  margin: 0;
  padding-right: 10px;
}

header nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

header a {
  font-family: 'BeaufortLoL', 'Cinzel', serif;
  color: #fcb674;
}

header a:hover {
  color: #ffffff;
}

footer{
    background-color: #09101f;
    color: white;
    padding: 16px 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.footer-paginas,
.riot{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
 
.footer-paginas h3,
.riot h3{
    font-family: 'BeaufortLoL', 'Cinzel', serif;
    color: #fcb674;
    font-size: 16px;
    margin: 0;
}
 
.derechos{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
footer a{
    color: #fcb674;
    text-decoration: none;
}